body {
  margin: 0;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
background-image: url(https://cdn.pixabay.com/photo/2019/06/02/13/33/star-4246461_960_720.jpg);
background-attachment: fixed;
color: lightblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.mission_logo{
  height: 100px;
  width:100px;
  
}
.launch{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
header{
  border: solid blue;
  font-size: 20px;
}
footer{
  border: solid blue;
  font-size: 20px;
}
select{
  color: lightblue;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent darkblue transparent;
  cursor: pointer;
  user-select: none;
  background-color: darkblue;
  
}
ul{
  list-style-type: none;
}
img{
  background-color: darkblue;
}
a{
  color: lightblue;
}
h1{
  font-size: 60px;
}
